* {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
}
header {
  text-align: center;
}

body {
  background-color: #b4134e !important;
}

h4 {
  color: #b4134e;
  font-weight: 600;
}
h1 {
  color: white;
  font-weight: 700;
}

span {
  font-weight: 600;
}

.m_auto {
  margin: 0 auto;
}

.shadow {
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 5px 15px;
  padding: 20px;
  background-color: white;
}

._btn {
  max-width: 250px;
  background-color: #b4134e;
  color: white;
  border: 1px solid #b4134e;
}
.bottoni {
  margin-left: 25% !important;
}
.bottoni button {
  max-width: 100px;
  color: #b4134e;
  font-weight: 600;
  background-color: rgb(168, 164, 164);
}
.border_b {
  border: 1px solid black;
}

._bg {
  background-color: #8a8a8a;
}

._uppercase {
  text-transform: uppercase;
}

._hidden {
  display: none;
}

.etichetta {
  margin-right: 10px;
  color: #b4134e;
}
